#user-data {
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width:400px ;
  background-color: lightblue;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  color: rgb(11, 107, 96);
  
}